<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>상품 데이터 리스트(if)</h1>
	<div>
		<a th:href="@{/thymeleaf/ex5(para1='데이터1', para2='데이터2')}">페이지 이동</a>
	</div>
	<table border="1">
		<thead>
			<tr>
				<td>순번</td>
				<td>상품명</td>
				<td>상품설명</td>
				<td>가격</td>
				<td>상품등록일</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDto, status : ${list}">
				<td th:if="${status.even}" th:text="짝수" style="color: red"></td>
				<td th:unless="${status.even}" th:th:text="홀수" style="color: blue"></td>
				<td th:text="${itemDto.itemName}"></td>
				<td th:text="${itemDto.itemDetail}"></td>
				<td th:text="${itemDto.price}"></td>
				<td th:text="${itemDto.regTime}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>